In [213]:
import pandas as pd

In [214]:
company_share = pd.read_csv('Untouched_Business_case/Data/Company_Share_GBO_unit.csv', delimiter=';')

In [215]:
company_share

,Location,Industry,Subcategory_ID,Hierarchy_Level,Data_Type,Global_Brand_Owner,Unit,Year_text,Year_date,Year_minus_2016,Volume
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Anheuser-Busch InBev NV,million litres,2016.0,31-12-16,4.0,"35506,37732"
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8.0,Alcoholic Drinks,13.0,1.0,Total Volume,Heineken NV,million litres,2016.0,"Saturday, 31 Dec 2016",4.0,"18482,5958"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
43331,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Rosspirtprom FGUP,000 litres,2016.0,31 12 2016,4.0,"3,708013795"
43332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43333,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Private Label,000 litres,2016.0,31-12-16,4.0,"307,7663666"
43334,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43335,8.0,Alcoholic Drinks,15.0,1.0,Total Volume,Others,000 litres,2016.0,31-Dec-16,4.0,"8263,549123"

In [216]:
# Cleaned all the lines where there is no value at all.
company_share = company_share.dropna(axis = 0, how = 'all')

In [218]:
# Unification of year-date format.
company_share['Year_date'] = pd.to_datetime(company_share['Year_date'])
company_share['Year_date'] = company_share['Year_date'].dt.strftime("%d-%m-%Y")

/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_3712/268751810.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  company_share['Year_date'] = pd.to_datetime(company_share['Year_date'])
/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_3712/268751810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_share['Year_date'] = pd.to_datetime(company_share['Year_date'])
/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_3712/268751810.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_share['Year_date'] = company_share['Year_date'].dt.strftime("%d-%m-%Y")

In [219]:
company_share['Year_date'].unique()

array(['31-12-2016', '31-12-2017', '31-12-2018', '31-12-2019',
       '31-12-2020', '31-12-2021'], dtype=object)

In [220]:
company_share.shape

(21668, 11)

In [221]:
company_share.drop_duplicates(inplace=True)

/var/folders/9g/mm9pdxg52dn6rg0rtfk14syc0000gn/T/ipykernel_3712/3828042781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  company_share.drop_duplicates(inplace=True)

In [222]:
# Get rid off unnecessary balnk spaces.
company_share = company_share.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [223]:
company_share['Volume'] = company_share['Volume'].str.replace(',', '.').astype(float)

In [224]:
# Correcting volume in order to reflect units as well.
company_share.loc[company_share['Unit'] == 'million litres', 'volume_litres'] = company_share['Volume'] * 1000000.0
company_share.loc[company_share['Unit'] == '000 litres', 'volume_litres'] = company_share['Volume'] * 1000.0

In [225]:
#Adding Locations as strings as a new column.
mapping_location = {1.0:'Asia Pacific', 2.0:'Australasia', 3.0:'Eastern Europe', 4.0:'Latin America', 5.0:'Middle East and Africa', 6.0:'North America', 7.0:'Western Europe', 8.0:'World'}
company_share['Location_text'] = company_share['Location']
company_share['Location_text'].replace(mapping_location, inplace=True)

In [226]:
#Adding subcategories as strings as a new column.
subcategories = pd.read_csv('Untouched_Business_case/Data/Subcategories.csv', index_col='id')
subcategories_short = subcategories['Name']
mapping_subcategories = subcategories_short.to_dict()
company_share['Subcategory'] = company_share['Subcategory_ID']
company_share['Subcategory'].replace(mapping_subcategories, inplace=True)

In [230]:
company_share.to_csv('company_share_cleaned.csv', index=False)

In [30]:
market_size = pd.read_csv('Cleaned_data_sets/market_size_cleaned.csv')
channel = pd.read_csv('Cleaned_data_sets/clean_channels.csv')
company_share = pd.read_csv('Cleaned_data_sets/company_share_cleaned.csv')

In [49]:
dragon_table = company_share[company_share['Global_Brand_Owner'] == 'Dragonyte Brewery']
dragon_table['Subcategory_ID'].unique()

array([13.,  8.,  4.,  9., 12., 10., 11.,  7.,  3.,  2.,  1., 17., 16.])

In [65]:
dragon_table['Year_text'].unique()

array([2016., 2017., 2018., 2019., 2020., 2021.])

In [188]:
sum(dragon_table[(dragon_table['Year_text'] == 2016.0) 
             & (dragon_table['Subcategory_ID'] == 16.0)]['volume_litres'])

72052.78524

In [200]:
sum(company_share[(company_share['Year_text'] == 2016.0) 
             & (company_share['Subcategory_ID'] == 14.0) & (company_share['Location'] == 8.0)]['volume_litres'])

28028193681.730995

In [51]:
company_share['Subcategory'].unique()

array(['Beer', 'Lager', 'Standard Lager', 'Dark Beer', 'Economy Lager',
       'Premium Lager', 'Mid-Priced Lager', 'Non Alcoholic Beer',
       'Flavoured/Mixed Lager', 'Weissbier/Weizen/Wheat Beer', 'Stout',
       'Sorghum', 'Ale', 'Cider/Perry', 'RTDs/High-Strength Premixes',
       'Wine', 'Spirits'], dtype=object)

In [50]:
dragon_table['Subcategory'].unique()

array(['Beer', 'Lager', 'Standard Lager', 'Dark Beer', 'Economy Lager',
       'Premium Lager', 'Mid-Priced Lager', 'Non Alcoholic Beer',
       'Flavoured/Mixed Lager', 'Weissbier/Weizen/Wheat Beer', 'Ale',
       'Cider/Perry', 'RTDs/High-Strength Premixes'], dtype=object)

In [195]:
# Correcting volumes and units in market size's volume column.
for index,value in market_size["Volume (liters)"].items():
    if int(str(value).split(".")[1]) > 0:
        market_size.loc[index,"Volume (liters)"] = value*1000.0

In [196]:
# Correcting volumes and units in market size's RSP column.
for index,value in market_size["RSP (USD million)"].items():
    if int(str(value).split(".")[1]) > 0:
        market_size.loc[index,"RSP (USD million)"] = value*1000.0

In [197]:
# This market size data is created for test purposes. But in order to reflect correct volumes, it is also used in some graphs.
market_size.to_csv('./Cleaned_data_sets/test_market_size.csv')