In [1]:
import pandas as pd
import numpy as np

Channel_Volume Cleaning

In [2]:
channel_volume = pd.read_csv('Untouched_Business_case/Data/Channel_Volume.csv')

In [31]:
channel_volume.head()

,Location,Industry,Edition,Category,Subcategory,Hierarchy_Level,Data_Type,Outlet,Outlet_Hierarchy,Unit,Year_text,Year_date,Volume,Year_date_format,Volume_litres
0,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2007,"Monday, 31 December 2007","2613,845506",31-12-2007,2.613846e+09
1,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2008,"Wednesday, 31 December 2008","2513,025824",31-12-2008,2.513026e+09
2,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2009,"Thursday, 31 December 2009","2421,088595",31-12-2009,2.421089e+09
3,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2010,"Friday, 31 December 2010","2422,128432",31-12-2010,2.422128e+09
4,1,Alcoholic Drinks,2022,Beer,Beer,1,Off-trade Volume,Food/drink/tobacco specialists,3,million litres,2011,"Saturday, 31 December 2011","2439,33622",31-12-2011,2.439336e+09

Filling in missing values in 'Category'. NB! In this dataset 'Category' and 'Subcategory' are the same.

In [4]:
channel_volume.loc[603,'Category'] = channel_volume.loc[603,'Category'] = 'Wine'
channel_volume.loc[1974,'Category'] = channel_volume.loc[1974,'Category'] = 'Beer'
channel_volume.loc[2986,'Category'] = channel_volume.loc[2986,'Category'] = 'Cider/Perry'
channel_volume.loc[7547,'Category'] = channel_volume.loc[7547,'Category'] = 'Cider/Perry'

In [33]:
channel_volume.isna().sum()

Location            0
Industry            0
Edition             0
Category            0
Subcategory         0
Hierarchy_Level     0
Data_Type           0
Outlet              0
Outlet_Hierarchy    0
Unit                0
Year_text           0
Year_date           0
Volume              0
Year_date_format    0
Volume_litres       0
dtype: int64

Creating a date column in the accepted format (should be the same as in other datasets)

In [6]:
channel_volume['Year_date']

0          Monday, 31 December 2007
1       Wednesday, 31 December 2008
2        Thursday, 31 December 2009
3          Friday, 31 December 2010
4        Saturday, 31 December 2011
                   ...
8463       Sunday, 31 December 2017
8464       Monday, 31 December 2018
8465      Tuesday, 31 December 2019
8466     Thursday, 31 December 2020
8467       Friday, 31 December 2021
Name: Year_date, Length: 8468, dtype: object

In [7]:
channel_volume['Year_date_format'] = pd.to_datetime(channel_volume['Year_date'])

In [10]:
channel_volume['Year_date_format'] =channel_volume['Year_date_format'].dt.strftime("%d-%m-%Y")

In [11]:
channel_volume['Year_date_format']

0       31-12-2007
1       31-12-2008
2       31-12-2009
3       31-12-2010
4       31-12-2011
           ...
8463    31-12-2017
8464    31-12-2018
8465    31-12-2019
8466    31-12-2020
8467    31-12-2021
Name: Year_date_format, Length: 8468, dtype: object

Creating a column 'Volume_litres' for volume in litres for all rows.

In [12]:
channel_volume['Unit'].unique()

array(['million litres', '000 litres'], dtype=object)

In [25]:
channel_volume['Volume_litres'] = channel_volume['Volume'].replace(',','.', regex=True).astype(float)

In [27]:
conditions = [
        channel_volume['Unit'] == 'million litres',
        channel_volume['Unit'] == '000 litres' ]

In [28]:
values = [(channel_volume['Volume_litres']*1000000), (channel_volume['Volume_litres']*1000)]

In [29]:
channel_volume['Volume_litres'] = np.select(conditions,values)

In [30]:
channel_volume['Volume_litres']

0       2.613846e+09
1       2.513026e+09
2       2.421089e+09
3       2.422128e+09
4       2.439336e+09
            ...
8463    1.651421e+10
8464    1.652215e+10
8465    1.654461e+10
8466    1.662651e+10
8467    1.666464e+10
Name: Volume_litres, Length: 8468, dtype: float64